@page "/items"
@using SettleWith.Shared.DataModels
@inject HttpClient Http

<h1>Items</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Cover</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in items)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <img src="@item.Url" alt=""></td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private Item[] items;

    protected override async Task OnInitializedAsync()
    {
        items = await Http.GetFromJsonAsync<Item[]>("items");
    }

}